@media screen and (max-width: 767px) {
    body, html {
        font-size: 8px;
    }
    .eu_parts h2, .jp_parts h2, .kr_parts h2, .cn_parts h2  {
        font-size: 4em;
    }
    .arrow{
      display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header p.tel{
    font-size: 2em !important;
  }
  header .logo{
    font-size: 3em;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  header{
    font-size: 7px;
  }

  header .logo{
        font-size: 2.5em;
  }
  header .logo-1{
        font-size: 1.6em;
  }
  header p.tel{
    font-size: 2em !important;
  }

  header img{
    width: 32px;
    height: 32px;
  }
}
