@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');

body, html {
    color: #444444;
    font-size: 10px;
    font-family: "Montserrat";
}

p {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.6em;
}
h1 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 4.3em;
    color: #fff;
}
h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    padding: 0.5rem 0;
    font-size: 4em;
    color: #fff;
}
h3 {
    font-family: 'Montserrat';
    font-weight: 400;
    padding: 0.5rem 0;
    font-size: 3.1em;
    color: #3b3b3b; 
}
h4 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 2.1em;
    color: #fff;
}
h5 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.8em;
    color: #414141;
}
button {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 2.1em;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 9px 30px;
    border-radius: 5px;
    background-color: #e4042d;
}
header > .container{
    padding: 30px 0;
}
header button {
    font-size: 1.4em;
    color: #fff;
    padding: 10px 10px;
}
header p {
    color: #585858;
    line-height: 1.2;
    font-size: 1.4em;
}
header i {
    color: #d2d2d2;
    margin-right: 0.8rem;
    font-size: 1.4rem;
}
.navbar {
    background-color: #ededed;
}
.navbar li a {
    text-transform: uppercase;
    font-size: 1.4em;
    padding: 15px 0;
    font-weight: 400;
    color: #000;
    margin-right: 2rem;
}
.navbar li a:hover {
    color: #e4042d !important; 
}

/* header */

.logo {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 4.6em;
    color: #e4042d;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.logo-1 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.8em;
    color: #444444;
    margin: 0; 
    line-height: 1;
    padding: 0;
}
/*  */
.item p {
    color: #3b3b3b;
}
.item-circle {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    box-shadow: 0 0 15px #3b3b3b73;
    justify-content: center;
}
.item img {
    align-self: center;
}
.item p {
    padding: 1rem 0;
}


/*  */

.about {
    background-color: #f7f7f7;
}
.about h1 {
    color: #414141;
}
hr {
    width: 5em;
    height: 0.05rem;
    background-color: #e4042d;
    float: left;
}
.about p {
    color: #8c8c8c;
}
.about .hr-1 {
    width: 50%;
    height: 0.5rem;
    background-color: #e4042d;
}
.about .first {
    background-image: url('../img/about/1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .about .second {
    background-image: url('../img/about/2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

/*  */
.search {
    background-image: url("../img/search/bg.png"); 
    background-size: cover;
}
.search button {
    box-shadow:  0 5px 0 #800b20;
}

/*  */

.card {
    transition: 0.2s;
}


.eu_parts {
    background-color: #e4042d;
}
.eu_parts h2 {
    font-weight: 400;
    font-size: 6.7em;
}
.eu_parts p {
    font-size: 2.1em;
}
.eu_parts .card {
    width: 12rem;
    height: 9rem;
    margin: 1rem 1rem;
    justify-content: center;
}
.eu_parts .card img {
    align-self: center;
    width: 6rem;
    height: 5rem;
}

/*  */

.jp_parts {
    background-color: #3b3b3b;
}
.jp_parts h2 {
    font-weight: 400;
    font-size: 6.7em;
}
.jp_parts p {
    font-size: 2.1em;
}
.jp_parts .card {
    width: 16.5rem;
    height: 10rem;
    padding: 10px;
    margin: 1rem 1rem;
    justify-content: center;
}
.jp_parts .card img {
    align-self: center;
    height: 5rem;
    width: 6rem;
}


/*  */

.kr_parts {
    background-color: #416191;
}
.kr_parts h2 {
    font-weight: 400;
    font-size: 6.7em;
}
.kr_parts p {
    font-size: 2.1em;
}
.kr_parts .card {
    width: 16.5rem;
    height: 10rem;
    padding: 10px;
    margin: 1rem 1rem;
    justify-content: center;
}
.kr_parts .card img {
    align-self: center;
    height: 5rem;
    width: 6rem;
}


/*  */

.cn_parts {
    background-color: #328838;
}
.cn_parts h2 {
    font-weight: 400;
    font-size: 6.7em;
}
.cn_parts p {
    font-size: 2.1em;
}
.cn_parts .card {
    width: 16.5rem;
    height: 10rem;
    padding: 10px;
    margin: 1rem 1rem;
    justify-content: center;
}
.cn_parts .card img {
    align-self: center;
    height: 5rem;
    width: 6rem;
}
.card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/*  */

.best_parts {
    background-color: rgba(0,0,0,.8);
}
.best_parts img {
    position: absolute;
    height: 55%;
    right: 10rem;
    z-index: -5;
}

/*  */

.benefits h2 {
    color: #414141;
}
.benefits img {
    width: 3.8em;
    height: 3.8em;
    margin-right: 0.5rem;
}
.benefits p {
    color: #414141;
}


/*  */

.fast_and_cheep {
    background-color: #f7f7f7;
}
.fast_and_cheep .item {
    margin: 1rem 0;
}
.fast_and_cheep h2{
    color: #414141;
}
.fast_and_cheep img {
    margin-right: 0.5rem;
}
.fast_and_cheep p {
    color: #fff;
}
.fast_and_cheep .item {
    background-color: #F13F3F;
    padding: 1.5rem;
}

/*  */


/*  */

.request {
    background-image: url("../img/request/bg.png");
}
.request .opacity {
    background-color: rgba(0,0,0,.7);
}

/*  */

/* callback */
.callback h2 {
    color: #414141;
  }
  
  .callback p.desc {
    font-size: 1.8em;
    color: #000;
  }
  
  .callback input[type="text"], .request-form input {
    width: 100%;
    height: 50px;
    font-weight: 400;
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #F7F7F7;
    border: 1px solid #ECECEC;
  }
  
  .callback input[type="checkbox"] {
    display: none;
  }
  
  .callback .custom-checkbox {
    padding: 8px 14px;
    background-color: #F7F7F7;
    border-radius: 5px;
    border: 1px solid #ECECEC;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .callback label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.3em;
    line-height: 30px;
  }
  
  .callback input[type="checkbox"]:checked ~ .labelcb .custom-checkbox {
      background-image: url('../img/callback/checkbox.png');
  }
  
  .callback a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .callback button {
    background-color: #E4022C;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 2px;
  }
  
  /* callback */


/* contacts */

.contacts{
    position: relative;
  }
  .contacts .contact{
    top: -36px;
    position: absolute;
    z-index: 111;
    width: 100%;
    background-image: url('../img/contacts/border.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    padding: 40px;
  }
  
  .contacts .name{
    position: absolute;
    top: -20px;
    left: 20px;
  }
  
  .contacts .contact p{
    color: #000;
    font-size: 1.1em;
  }
  
  .contacts p.phone{
    color: #000;
    font-size: 1.8em;
    font-weight: bold;
  }
  
  .contacts p.phone i{
    font-size: .8em;
    padding-right: 0;
  }
  
  .contacts .contact i{
    color: #e4042d;
    font-size: 1.2em;
    padding-right: 5px;
    padding-bottom: 10px;
  }
  
  .contacts .contact a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .contacts .contact button{
      color: #e4042d;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 2px;
  }
  
  .contacts .name p{
    font-size: 3em;
    font-weight: bold;
  }
  
  /* contacts */

/* footer */
footer .copyright {
    color: #5c5c5c;
    font-size: 1.2em;
    font-weight: 400;
  }
  
  footer .nav-item:first-child a{
    color: #e4042d;
  }
  
  footer .nav-item a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #000;
    line-height: 24px;
    font-weight: 600;
  }
  
  footer .info i{
    margin-right: 15px;
    height: 100%;
    font-size: 2em;
    color: #c2c4c6;
    margin-top: 2px;
  }
  
  footer .info p{
    color: #000;
    font-size: 1.3em;
    line-height: 25px;
  }
  
  footer .tel a{
    font-size: 2.2em;
    font-weight: bold;
    line-height: 65px;
    text-decoration: none;
    color: #000;
  }
  
  footer .button button{
    font-size: 1.2em;
    line-height: 25px;
    color: #fff;
    background-color: #E4022C;
    padding: 10px 10px;
  }
  
  /* footer */
  