@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');

body {
    color: #444444;
}

p {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
}
h1 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 43px;
    color: #fff;
}
h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    padding: 0.5rem 0;
    font-size: 40px;
    color: #fff;
}
h4 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 21px;
    color: #fff;
}
button {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 21px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #c3092f;
}
header > .container{
    padding: 30px 0;
}
header button {
    font-size: 14px;
    color: #fff;
    padding: 10px 10px;
}
header p {
    color: #585858;
    line-height: 1.2;
    font-size: 14px;
}
header i {
    color: #d2d2d2;
    margin-right: 0.8rem;
    font-size: 1.4rem;
}
.navbar {
    background-color: #ededed;
}
.navbar li a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-right: 2rem;
}
.navbar li a:hover {
    color: #c3092f !important; 
}

/* header */

.logo {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 46.2px;
    color: #c3092f;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.logo-1 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 18.9px;
    color: #444444;
    margin: 0; 
    line-height: 1;
    padding: 0;
}

/*  */

/*  */

.best_parts {
    background-color: rgba(0,0,0,.8)
}
.best_parts img {
    position: absolute;
    right: 10rem;
    z-index: -5;
}

/*  */

/*  */

.request {
    background-image: url("../img/request/bg.png");
}
.request .opacity {
    background-color: rgba(0,0,0,.65);
}